// http://www.colourlovers.com/palette/558733/400_LOVERS

// Base
$defaultTextColor: #5B5847;
$defaultLinkColor: #CC5D4C;

// Buttons
$btnBackground: #CC5D4C;
$btnAltBackground: #96B49C;

// Header
$headerBackground: #96B49C;
$titleColor: #fff;
$navLinkColor: #fff;

// Summary
$summaryBackground: #fff;
$demographicKeyColor: #fff;

// Proposal
$proposalBackground: #FFFEC6;
