header{
  background-color: $headerBackground;
  padding:  10px 0;
}

header > .flexContainer{
  justify-content: space-between;
  align-items: flex-end;
}
.titleLink{
  flex-grow: 1;
}

.titleLink > a{
  color: $titleColor;
  font-family: $serif;
  text-decoration: none;
  font-size: 26px;
}

.siteNav li{
  margin-left: 12px;
}

.siteNav a{
  color: $navLinkColor;
  font-family: $sans-serif;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.9;

  &:hover{
    opacity: 1;
  }
}

.explainer{
  text-align: center;
  background-color: $explainerBackground;
  padding: 10px 0 45px;
}

.explainerHighlight{
  color: $explainerTextHighlightColor;
}

.explainerShadow{
  text-shadow: 1px 1px darken($explainerBackground, 30%);
}
.explainerDarkShadow{
  text-shadow: 1px 1px darken($explainerBackground, 50%);
}

.explainerIntroCTAs{
}

.explainerCTAs{
  margin-top: 12px;

  li{
    display: inline-block;
    margin: 0 10px;
  }
}

.homepageSummaryIntro{
  padding: 16px 0;
  margin-bottom: 16px;
  border-bottom: 1px dashed $explainerBackground;
  text-align: center;
}
