.proposal{
  background-color: $proposalBackground;
  padding: 40px 0;
}

.proposalImage{
  @include grid-column(4);
}

.proposalContent{
  @include grid-column(8);
  padding-left: 20px;
}

.proposalHeadline{
  font-family: $serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.proposalContent .btn{
  margin-top: 12px;
}
