$headerBackground: #fff;
$titleColor: $black;
$navLinkColor: $grey;

header{
  background-color: $headerBackground;
  padding:  10px 0;
}

.titleLink > a{
  color: $titleColor;
}

.siteNav a{
  color: $navLinkColor;
}
