// $base-border-radius: 3px !default;
// $base-line-height: 1.5em !default;
// $base-spacing: 1.5em !default;
// $action-color: #477DCA !default;
// $dark-gray: #333 !default;
// $light-gray: #DDD !default;
// $medium-screen: 40em !default;
// $base-font-color: $dark-gray !default;
$serif: 'Lusitana', serif;
$serif-2: 'Merriweather', serif;
$sans-serif: 'Merriweather Sans', sans-serif;
