<div class="summary">
  <div class="container gridContainer">
    <div class="subject">
      <div class="subjectHeader">
        <img src="https://placeholdit.imgix.net/~text?txtsize=28&txt=160%C3%97160&w=160&h=160">

        <h2 class="summaryTitle">
          Diversity Report For
          <a href="#" class="subjectUsername">@BarackObama<%# report.subject %></a>
        </h2>
      </div>

      <ul class="metaInfo">
        <li>Follows 4567 accounts</li>
        <li>Report based upon 31% of accounts followed</li>
      </ul>
    </div>

    <div class="graphs">
      <div class="graph">
        <div class="exhibit">
          <img src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300%C3%97300&w=300&h=300">

          <% report.demographics.each do |key, value| %>
            <!-- <p>
              <strong><%= key %></strong>

              <%= value.to_s %>
            </p> -->
          <% end %>
        </div>

        <div class="legend">
          Legend
        </div>
      </div>

      <ul class="demographicKeys nav">
        <% report.demographics.keys.each do |key| %>
          <li><a href="#"><%= key %></a></li>
        <% end %>
      </ul>

      <a href="#" class="btn">View Full Report</a>
    </div>
  </div>
</div>
