<div class="proposal">
  <img src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300%C3%97300&w=300&h=300">

  <div class="proposalContent">
    <h3>Add yourself to the data pool</h3>
    <p>Join this global experiment, securely adding your demographic information (all optional!), enhancing the accuracy of each generated report hereafter. Your participation brings us one step closer to revealing all our blind spots.</p>
    <%= link_to "Participate", :profile, class: "btn" %>
  </div>
</div>
